.infoContainer {
    display: flex;
    flex-direction: column;    
    width: 100vw;
    height: 100vh;
    background-color: white;
    background: var(--background);
}

.infoContainer > .content {
    margin: auto;
    width: 800px;
    border: 1px solid rgba(0,0,0, 0.3);
    height: 600px;
    min-width: 400px;
    overflow-y: scroll;
    padding: 16px;
    border-radius: 16px;
    background-color: white;
}

@media only screen and (max-width: 615px) {
    .infoContainer > .content {
       height: 100%;
    }
}
