.card {
    --card-border-radius: 16px;
    --card-border-color: #D3D3D3;
    --card-padding: 8px;
    --card-text-color:rgba(0,0,0,0.8);
    --card-width: 450px;

    --card-content-bottom-padding: 8px;
    --link-text-hover: rgb(40, 6, 191);
    
    border: 1px solid var(--card-border-color);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    color: var(--card-text-color);
    width: var(--card-width);

    margin-right: 16px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card > h3 {
    font-size: 24px;
    padding-bottom: var(--card-content-bottom-padding);
}

.card > img {
    width: 100%;
    padding-bottom: 8px;
}

.card > p {
    padding-bottom: var(--card-content-bottom-padding);
}

.card > a {
    align-self: flex-end;
    padding-right: 8px;
    padding-bottom: 8px;
    color: var(--card-text-color);
}

.card > a:visited {
    color: inherit;
}

.card > a > span {
    display: inline-block;
    transition: transform 200ms;
  }

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {

    .card > a:hover {
        color: var(--link-text-hover);
    }

    .card > a:hover > span {
      transform: translateX(3px);
      color: var(--link-text-hover);
    }
  }
  

@media only screen and (max-width: 1398px) {
    .card {
        margin-bottom: 8px;
    }
}
